<table id="DadosSenha">
    <thead>
        <tr>
            <th>
                <h1>Alteração de Senha.</h1>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="message">
                Caro {{ user }}, você solicitou uma alteração de senha no dia {{ date }}, caso não tenha sido você desconsidere essa mensagem.
				<br><br>
                Esta solicitação ficará disponível até o dia: {{ date }} às {{ hour }}
            </td>
        </tr>
        <tr>
            <td class="botaoEnviar"> <a href="{{ url }}/#/alterarSenha/{{ token }}" type="button" class="enviar"> Alterar Senha </a> </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="lineFooter">
                Copyright © CenterCell
            </td>
        </tr>
    </tfoot>
</table>
