<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Relátorio Conciliação</title>
	<style>
		table {
			width: 100%;
			margin-top: 20px;
		}

		thead {
			background-color: #730c10;
			color: #fff;
			font-family: Arial;
			font-weight: 700;
			font-size: 16px;
		}

		tr {
			font-family: Arial;
		}

		td {
			padding: 10px;
			font-size: 10px;
		}

		tfoot {
			background-color: #730c10;
		}

		tfoot tr td {
			color: #fff;
			font-family: Arial;
			font-weight: 500;
			font-size: 14px;
		}

		tfoot tr td span {
			color: #fff;
			font-family: Arial;
			font-weight: 700;
			font-size: 20px;
		}

		tbody tr {
			color: #000;
		}

		#pageHeader-first {
			text-align: center;
		}

		#table {
			margin-top: 15px;
		}
	</style>
</head>

<body>
	<div id="pageHeader-first">
		<h1>Relatório Mês - <%= mes %></h1>
	</div>
	<div id="table">
		<table>
			<thead>
				<tr>
					<th>PréOS</th>
					<th>Marca</th>
					<th>Modelo</th>
					<th>Tipo Atendimento</th>
					<th>Valor a Pagar</th>
					<th>Valor a Receber</th>
					<th>Data</th>
				</tr>
			</thead>
			<tbody>
				<% data.forEach(item=> { %>
					<tr>
						<td>
							<%= item.PreOS %>
						</td>
						<td>
							<%= item.Marca %>
						</td>
						<td>
							<%= item.Modelo %>
						</td>
						<td>
							<%= item.TipoAtendimento %>
						</td>
						<td>
							<%= item.ValorPagar %>
						</td>
						<td>
							<%= item.ValorReceber %>
						</td>
						<td>
							<%= item.Data %>
						</td>
					</tr>
					<% }); %>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3">Total a Pagar: <br /> <span>
							<%= totaisPagar %>
						</span></td>
					<td colspan="2">Total a Receber: <br /> <span>
							<%= totaisReceber %>
						</span> </td>
					<td colspan="2">Total Período: <br /> <span>
							<%= maisMenos %> <%= totaisGeral %>
						</span> </td>
				</tr>
			</tfoot>
		</table>
	</div>
</body>

</html>
