<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alteração de Senha - Posto de Coleta CenterCell</title>
    <style>
        table {
            width: 100%;
        }

        thead {
            background-color: #292d52;
            color: #fff;
            font-family: Arial;
            font-weight: 100;
        }

        tr {
            font-family: Arial
        }

        td {
            padding: 20px;
            font-size: 13px;
        }

        .botaoEnviar {
            text-align: center;
        }

        .enviar {
            background: #444;
            color: #fff;
            border: solid 0px;
            width: 20%;
            font-size: 20px;
            padding: 10px;
            border-radius: 20px;
            margin: 50px 0px;
        }

        .enviar:hover {
            background: #333;
        }

        tfoot {
            background-color: #292d52;
            color: #fff;
            font-family: Arial;
            font-weight: 100;
            font-size: 10px;
        }

        .lineFooter {
            text-align: center;
            padding: 50px 0 10px;
        }

        .botaoEnviar a {
            text-decoration: none;
            color: #fff
        }

        tbody tr .message {
            color: #000;
        }
    </style>
</head>

<body>
    {{{ body }}}
</body>

</html>
